.App {
  text-align: center;
}

.navlink {
  color: black;
  text-decoration: none;
  font-size: 100px;
  position: absolute;
  top: 40vh;
  left: 45vw;
}

.main-heading {
  font-size: 50px;
  margin: 140px 0 100px 0;
}

.job-search {
  margin: 0 auto;
  width: 70vw;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.job-postings {
  width: 65%;
}

.filter-pannel {
  width: 30%;
}

.category-heading {
  float: left;
  font-size: 20px;
}

.ant-checkbox-group-item {
  width: 100%;
  text-align: left;
  font-size: 20px !important;
  margin-bottom: 20px !important;
}

.job-listing-item {
  margin-bottom: 40px;
}